<%= form_with(model: landmark, local: true) do |form| %>
  <% if landmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landmark.errors.count, "error") %> prohibited this landmark from being saved:</h2>

      <ul>
        <% landmark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, rows: 1, cols: 40 %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, rows: 3, cols: 30 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 6, cols: 80 %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
