<%= form_with(model: book_now, local: true) do |form| %>
  <% if book_now.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_now.errors.count, "error") %> prohibited this book_now from being saved:</h2>

      <ul>
        <% book_now.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
