<!DOCTYPE html>
<html>
  <head>
    <title>Tourist Attractions in Newcastle </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <header class="main">
        <h1><%= @page_title %></h1>
        </header>
      <section class="content">
        <nav class="side_nav">
          <%= image_tag 'landmarklogo.png', alt: 'Historic Attractions' %>

          <% if @list %>
            <div id="list" class="lists">
                <%= render_if @list && @list.line_landmarks.any?, @list %>
            </div>
          <% end %>

          <ul>
            <li><a href="/">Home</a></li>
          </ul>

              <ul>
                <li><%= link_to 'Landmarks', landmarks_path %></li>
              </ul>

        </nav>

  <%= content_tag :main, class: controller.controller_name do %>
    <%= yield %>
  <% end %>
    </section>
</body>

</html>
