<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Historic Tourist Attractions in Newcastle</h1>

<ul class="catalog">
  <% @landmarks.each do |landmark| %>
    <li>
      <%= image_tag(landmark.image_url) %>
      <h2><%= landmark.name %></h2>
      <p><%= sanitize landmark.location %></p>
      <p><%= sanitize landmark.description %></p>
      <div class="price"><%= number_to_currency(landmark.price) %>
        <%= button_to 'Visit?', line_landmarks_path(landmark_id: landmark) %>
      </div>
    </li>
    <% end %>
</ul>
